source_ocid = "ocid1.image.oc1.us-chicago-1.aaaaaaaaurno5wabhj3aaikbvvzqpt6aurthoecnqm5d7yunizmtf6heh6wq"
subnet_ocid = "ocid1.subnet.oc1.us-chicago-1.aaaaaaaagyhdv3myzyi5umm4xsk3yq24gkp5mpvwfzbbfy6ueof7uvrnrthqyes"
tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaa3mb7wrcy2ls3u3jsy2soq5ck3lc3q4mczitpdaymbuazc5tkguca"
user_ocid = "ocid1.user.oc1..aaaaaaaaye4ic45sqj7euj2hwvinpptmomlvnbocsi36czcwgumwmz4i3vca"
fingerprint = "6b:cb:a0:56:9c:3f:e2:03:d9:2b:69:56:72:da:6d:c7"
private_key_path = "~/.oci/oci_api_key.pem"
public_ssh_key_path = "~/.ssh/id_rsa.pub"
region = "us-chicago-1"
display_instance_name = "sobata_chi"
# display_vnic_name = ""
shape = "VM.Standard.E5.Flex"
compartment_ocid = "ocid1.compartment.oc1..aaaaaaaavu633dop4qlvss3ebdvrzo6hwnr4g5e7s42frmlfvlsjpnyss7xa"


